*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
background-color: whitesmoke}
@keyframes hidden{
    0%{
        scale: 1;
    }
    100%{
        scale: 0;
    }
}
.load{
    position: fixed;
    background-color: white;
    inset: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: hidden 1s 5s both;
    img{
        width: 100px;
    }
}

.lds-ring,.lds-ring div {
    box-sizing: border-box;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid currentColor;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: currentColor transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


header{
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 3px;
    .logo{
        margin: 15px;
    }
    .links{
            display: flex;
            align-items: center;
            gap: 35px;
            margin: 5px;
            a{
                text-decoration: none;
                color: black;
                font-size: 17px;
                &:hover{
                    text-decoration:underline 3px #75BF7A;
                }
            }
            button{
            color: white;
            padding: 12px 40px;
            border: 2px solid #75BF7A;
            border-radius: 12px;
            background-color: #75BF7A;
            font-size: 17px;
            cursor: pointer;
            &:hover{
                    background-color: white;
                    color: #75BF7A;    
             }
     
}}
 .menu{
                display: none;}
   }
main{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        padding: 60px;
        .content{
            width: 50%;
            h1{
                font-size: 50px;
                margin-bottom: 30px;
            }
            p{
                font-size: 20px;
                margin-bottom: 35px;
                color: grey;
            }
            .btns{
                display: flex;
                gap: 20px;
                button{
                font-size: 17px;
                color: white;
                padding: 15px 25px;
                background-color:black;
                border-radius: 5px;
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                transition: 0.3s;
                 &:hover{
                    opacity: 0.85;
                }
            }}
        }
        .image{
            img{
             max-width: 600px;
             height: 700px;
            }
        }
} 
.services{
    background-color: #75BF7A;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 40px;
    margin-inline: 50px;
      p{
         color: white;
         font-size: 20px;
         width: 30%;
        } 
     .service-box{
                display: flex;
                gap: 15px;
                width: 70%;

                input{
                    flex: 1;
                    padding: 15px;
                    border: none;
                    border-radius: 5px;
                }

                button{
                    background-color: black;
                    color: white;
                    border: none;
                    padding: 15px 20px;
                    border-radius: 5px;
                    cursor: pointer;
                }   
        }
}    
 .features{
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    h2{
        margin-bottom: 20px;
        font-size: 30px;
        span{
            color: #75BF7A;
        }
    }
    .feature-card{
        background-color: white;
        width: 900px;
        border-radius: 10px;
        padding: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .text{
            span{
                color: #75BF7A;
                font-size: 45px;
                font-weight: bold;
            }
            h3{
                margin: 10px 0;
                font-size: 25px;
            }
            p{
                color: gray;
                font-size: 15px;
            }
        }
        img{
            width: 170px;
        }
    }
    .left{
        margin-right: 120px;
    }
    .right{
        margin-left: 120px;
    }
}
  footer{
            text-align: center;
            padding: 40px;
            color: gray;
            span{
                display: none;
            }
        }

@media (width<=900px){
    header{
        padding: 15px 20px;
        .links{
            display: none;
        }
        .menu{
            display: block;
            font-size: 28px;
        }
        .logo img{
            width: 120px;
        }
    }
    main{
        flex-direction: column-reverse;
        padding: 20px;
        text-align: center;
        gap: 20px;
        .content{
            width: 100%;
            .btns{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 10px;
                button{
                    width: 160px;
                    justify-content: center;
                    padding: 12px;
                    font-size: 12px;
                    img{
                        width: 18px;
                    }
                }}}
        .image{
            img{
                width: 100%;
            }}}
    .services{
        margin: 20px;
        padding: 20px;
        flex-direction: column;
        text-align: center;
        p{
            width: 100%;
            font-size: 18px;
        }
        .service-box{
            width: 100%;
            flex-direction: column;
            gap: 10px;
            input{
                width: 100%;
            }
            button{
                width: 100%;
            }}}
    .features{
        padding: 20px;
        gap: 20px;
        .feature-card{
            width: 100%;
            margin: 0 ;
            flex-direction: column;
            text-align: center;
            gap: 20px;
            img{
                width: 140px;
            }}}
    footer{
        span{
            display: block;
            margin-bottom: 20px;
        }
    }}